*.pyc
__pycache__
MANIFEST
build
dist
setuptools-*
*.so
*.egg
*.egg-info
nohup.out
.coverage
coverage.xml
gunicorn/examples/frameworks/pylonstest/PasteScript*
gunicorn/examples/frameworks/pylonstest/pylonstest.egg-info/
gunicorn/examples/frameworks/django/testing/testdb.sql
.tox

